<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pagina no encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pagina no encontrada</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="ion-text-center ion-margin" id="welcome_text">
      <h1>La pagina que buscas no existe</h1>
    </div>
    <ion-button expand="block" fill="outline" routerLink="/home">Volver al inicio</ion-button>
  </ion-content>
   
  
</ion-content>
