<ion-header [translucent]="true">
  <ion-toolbar>
    <div slot="start">
      <ion-img
        id="logo"
        src="assets/img/logo.png"
        alt="Logo distribuidora los 3"
      ></ion-img>
    </div>
    <ion-title>Calculadora precio de venta</ion-title>
    <div slot="end">
      <ion-button routerLink="/home" fill="clear" class="home-nav-button">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-text-center ion-margin" id="welcome_text">
    <h1>Bienvenido</h1>
  </div>

  <ion-list>
    <ion-item class="ion-margin">
      <ion-label position="floating">Ingresa el nombre del producto</ion-label>
      <ion-input type="text" placeholder="Ingrese nombre del producto" [(ngModel)]="name" class="animated_inputs"></ion-input>
    </ion-item>

    <ion-item class="ion-margin">
      <ion-label position="floating">Ingresa el valor neto del producto</ion-label>
      <ion-input type="text" placeholder="Ingrese Valor neto" [(ngModel)]="net_value" class="animated_inputs"></ion-input>
    </ion-item>

    <ion-item class="ion-margin">
      <ion-label position="floating">Ingresa la categoría del producto</ion-label>
      <ion-select [(ngModel)]="category">
        <ion-select-option *ngFor="let item of categories" value="{{item.name }}">
          {{ item.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button expand="block" fill="outline" (click)="calculate()">Calcular</ion-button>

  <mat-card *ngIf="sell_price > 0" id="result" class="ion-margin animate-if">
    <mat-card-content>
      <h2>El precio de venta sugerido es: $ {{ sell_price | number: '1.0-0' }}</h2>
      <h3>El margen de ganancia es: $ {{  price_with_margin - net_value | number: '1.0-0' }}</h3>
      <h3>El impuesto especifico es: $ {{  price_with_specific_tax - price_with_margin | number: '1.0-0' }}</h3>
      <h3>El IVA de este producto es: $ {{ sell_price - price_with_specific_tax | number: '1.0-0'}} </h3>
    </mat-card-content>
  </mat-card>
</ion-content>

<!-- Display all the products on a table-->
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Producto</ion-label>
      <ion-label>Valor neto</ion-label>
      <ion-label>Categoria</ion-label>
      <ion-label>Precio de venta</ion-label>
      <!-- add blanck labels for delete and edit actions -->
      <ion-label></ion-label>
      <ion-label></ion-label>
    </ion-item>
    <ion-item *ngFor="let product of products">
      <ion-label>{{ product.name }}</ion-label>
      <ion-label>{{ product.net_value }}</ion-label>
      <ion-label>{{ product.category }}</ion-label>
      <ion-label>{{ calculatePrice(product.net_value, product.category).sell_price | number: '1.0-0' }}</ion-label>
      <ion-button fill="clear" (click)="deleteProduct(product.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
      <!-- Go to see product page -->
      <ion-button fill="clear" routerLink="/product/{{ product.id }}">
        <ion-icon name="eye"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>


<ion-footer class="ion-text-center">
  <ion-toolbar>
    <ion-title>App desarrollada por Matias Ruiz</ion-title>
  </ion-toolbar>
</ion-footer>
