<ion-header [translucent]="true">
  <ion-toolbar>
    <div slot="start">
      <ion-img
        id="logo"
        src="assets/img/logo.png"
        alt="Logo distribuidora los 3"
      ></ion-img>
    </div>
    <ion-title>Inicio de sesión</ion-title>
    <div slot="end">
      <ion-button routerLink="/home" fill="clear" class="home-nav-button">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item class="ion-margin">
        <ion-input
          label="Usuario"
          label-placement="stacked"
          placeholder="Ingresa tu usuario"
          type="text"
          [(ngModel)]="usuario"
          minlength="4"
          maxlength="15"></ion-input>
      </ion-item>
    
      <ion-item class="ion-margin">
        <ion-input
          label="Contraseña"
          label-placement="stacked"
          type="password"
          [(ngModel)]="password"
          minlength="6"
          maxlength="15"></ion-input>
      </ion-item>
    </ion-list>

    
    <ion-button expand="block" class="ion-margin-top" (click)="login()">Ingresar</ion-button>
  </ion-content>
</ion-content>

