<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button id="take-photo-button" expand="block" (click)="takePhoto()">Tomar una foto</ion-button>
  
  <ion-card *ngIf="photo">
    <ion-card-header>Aqui esta la foto 🖼️</ion-card-header>
    <ion-card-content>
      <img [src]="photo" *ngIf="photo" width="100%">
    </ion-card-content>
  </ion-card>
  <ion-button id="home-buton" expand="block" routerLink="/home" color="secondary">Volver al inicio</ion-button>

</ion-content>
