<ion-header [translucent]="true">
  <ion-toolbar>
    <div slot="start">
      <ion-img
        id="logo"
        src="assets/img/logo.png"
        alt="Logo distribuidora los 3"
      ></ion-img>
    </div>
    <ion-title>Margenes de mercado</ion-title>
    <div slot="end">
      <ion-button routerLink="/home" fill="clear" class="home-nav-button">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="margin">
      <th mat-header-cell *matHeaderCellDef> Margen </th>
      <td mat-cell *matCellDef="let element"> {{element.margin}}% </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
</ion-content>
